.Layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2.4fr 1fr;
    background-color: #1d1d1d;
    color: rgba(255,255,255,0.7);
}

.artifacts {
    display: flex;
    flex-direction: row;
}