.Create {
    width: 100%;
    min-height: 200vh;
    padding-top: 4vh;
    background-color: #1d1d1d;
    color: rgba(255, 255, 255, 0.7);
}

.heading {
    padding: 10px auto;
    font-size: clamp(16px, 3vw, 80px);
}

.subHeading {
    padding: 5px auto;
    font-size: clamp(16px, 1.8vw, 60px);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.dropdown {
    all: unset;
    appearance: auto;
    border-bottom: 2px solid white;
    padding: 0 5px;
}

.characterSection {
    /* width: 98vw; */
    margin: 0 12px;
    display: flex;
    flex-direction: row;
}

.characterSectionBtns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 1px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 156px;
    margin: 8px auto;
}

.imgContainer img {
    border-radius: 88px;
    width: inherit;
    height: inherit;
    margin: auto;
    border: 3px solid black;
    box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.36);
}

.charAttribs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 24px;
}

.charAttribs div {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 24px;
}

.TextInput {
    all: unset;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    width: 36px;
}

.TextInput:focus {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

.artifactSection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 40px;
}

.artifactData {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.artifactInfo {
    display: grid;
    grid-template-columns: 1.25fr 1.75fr;
}

.artifactInfo div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

.artifactInfo div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.artifactInfo select {
    /* margin: 0 40px; */
    width: 70%;
    word-break: break-all;
}

.artifactTitle {
    font-size: clamp(16px, 2vw, 40px);
}

.artifactMeta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: auto; */
}
.artifactMeta div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    gap: 10px;
}

section.stats {
    margin: 20px auto;
}

.statPair {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 24px auto;
}

.statPair select {
    width: 50%;
}

.addSubStatBtn {
    all: unset;
    padding: 4px 8px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.addSubStatBtn:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}