.Create {
    width: 100%;
    min-height: 96vh;
    padding-top: 4vh;
    background-color: #1d1d1d;
    color: rgba(255, 255, 255, 0.7);
}

.heading {
    padding: 10px auto;
    font-size: clamp(16px, 3vw, 80px);
}

.subHeading {
    padding: 5px auto;
    font-size: clamp(16px, 1.8vw, 60px);
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.dropdown {
    color: rgba(255, 255, 255, 0.7);
    margin: 50px;
    width: 150px;
    height: 54px;
    padding: 5px 16px;
    font-size: 16px;
    background: #272727;
    appearance: none;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.64);
    border-radius: 20px;
    border: 2px solid black;
    transition: all 0.2s ease;
}

.dropdown:hover {
    box-shadow: -1.4px 1.4px 4px rgba(0, 0, 0, 0.64);
}

.characterSection {
    /* width: 98vw; */
    margin: 0 12px;
    display: flex;
    flex-direction: row;
}

.characterSectionBtns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 1px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 156px;
    margin: 8px auto;
}

.imgContainer img {
    border-radius: 88px;
    width: inherit;
    height: inherit;
    margin: auto;
    border: 3px solid black;
    box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.36);
}

.charAttribs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 24px;
}

.charAttribs div {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 24px;
}

.TextInput {
    all: unset;
    border-bottom: 2px solid white;
    width: 36px;
}

.TextInput:focus {
    border-bottom: 2px solid rgb(255, 195, 83);
}